*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{

    background-color:#0c340d;;
    color:#ffe70f;
    font-family: sans-serif;
}
.message{

    text-align: center;
    margin-top: 45px;
}
.section{

    width: 100%;
    margin-top:200px;
}
.container{

    width: 30%;
    text-align: center; 
    font-size: 1.1rem; 
    margin-right: auto;
    margin-left: auto;
}
.upload{

    position: relative;
    overflow: hidden;
}
.back{

    background-color:#ffe70f;
    border: 3px solid #000;
    color: #000; 
    padding: 10px 25px;
    border-radius: 10px; 
    font-size: 22px; 
    font-weight: bold;
}